<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_ntc_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ntc_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoTeCalles"
        tools:targetApi="31">
        <activity
            android:name=".PuntosActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="" /> // Aqui va la key de la api

        <activity
            android:name=".activity.InicioActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ui.publicar.PublicarFragment"
            android:exported="false" />
        <activity
            android:name=".activity.ui.otras.otherspubs.OthersPublicacionesFragment"
            android:exported="false" />
        <activity
            android:name=".activity.ui.mispublicaciones.MisPublicacionesFragment"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.ui.glosario.g_CiberacosoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ui.glosario.g_CallejeroActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ui.glosario.g_LaboralActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false"
            android:label="@string/title_activity_inicio"
            android:theme="@style/Theme.NoTeCalles.NoActionBar" />
        <activity
            android:name=".activity.UbicacionActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>
